@page
@model RentCarUnapec.Pages.Vehicle.DeleteModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Vehiculo</h1>

<h3>Seguro que desea eliminar este Vehiculo?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.VehicleFullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.VehicleFullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.ColorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.ColorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.PlateNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.PlateNumber)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Vehicle.Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver</a>
    </form>
</div>
